{% load staticfiles %}
<html>
    <head>
        <title>메모장 앱</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="import" href="{% static 'polymer/polymer.html' %}">
        <link rel="import" href="{% static 'paper-date-picker/paper-date-picker.html' %}">
    </head>
    <body>
        
        <div class="page-header" style="text-align: center">
            <h1><a href="/">메모장</a></h1>
            <a href="{% url 'post_new' %}" class="top-menu" style="padding-left: 100px"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>